body {
    background-color: 	#9FE2BF;
}

h1, h2, h3, h4,  {font-family:palatino linotype; center;}
  p {font-family:brandon grotesque;}
h   {color: black;}
p    {color: black;}
}

h1 {
    text-align: center;
}

.joke {
    text-align: center;
}

#intergers {
    text-align: center;
    font-family: brandon grotesque;
}

#largest {
    text-align: right;
    font-family: brandon grotesque;
}

#sum {
    float: right;
    font-family: brandon grotesque;
}
